<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savic OCR</title>
    <link rel="stylesheet" href="static/login.css">
    <link rel="icon" href="static/images/ocr.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body>
    <div class="rightside">
        <div class="login-container">
            <div class="image">
                <img src="../static/images/savic.png" alt="savic image" width="130" height="auto">
            </div>
            <span>Log in</span>
            <div class="input">
                <div>
                    <input type="text" placeholder="Email address or mobile number">
                </div>
                <div>
                    <input type="password" placeholder="Password">
                </div>
                <!-- <div class="error-text">
                    <div class="error">
                        Please enter a valid email address.
                    </div>
                    <div class="error">
                        The password must be between 6-20 characters long.
                    </div>
                </div> -->
                <div class="submit">
                    <button type="submit" class="btn btn-primary mt-3">Login</button>
                    <a href="forgot-password.html">Forgot your password?</a>
                </div>
            </div>
            <!-- <div class="sign">
                Don't have an account?&nbsp;
                <a href="#">Signup</a>
            </div> 
            <div class="diff-login">
                Log in using
            </div>
            <div class="social-media">
                <a href="#" class="social-icon">
                    <i class="fab fa-facebook-f"></i>  
                </a>
                <a href="#" class="social-icon">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>-->
        </div>
    </div>
    <div class="text">
        <h1>
            Savic: Design + Collaboration
        </h1>
        <p>
            Savic is a virtual center where designers, developers, and all design parties can perform their duties in unison, achieving results at least 200% faster. Discover a seamless workflow with Savic today.
        </p>
    </div>
    <footer id="footer">
        <span>
            © 2024,
            <a href="http://www.savictech.com" target="_blank">savic technologies pvt. ltd.</a>
            All Rights Reserved.
        </span>
    </footer>
    
</body>
</html>
