<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Invoice</title>
    <link rel="stylesheet" href="static/upload.css">
    <link rel="icon" href="static/ocr.png" type="image/x-icon">
</head>
<body>
    
    <div class="container">
        <form method="post" enctype="multipart/form-data" class="upload-form">
            {% csrf_token %}
            <img src="static/savic.png" alt="image" class="logo">
            <h2 class="title">OCR PROJECT</h2>
            <div class="form-group">
                <label for="invoice" class="file-label">Choose PDF Invoice:</label>
                <input type="file" name="invoice" id="invoice" accept=".pdf" class="file-input">
                <button type="button" class="clear-btn" onclick="clearFileInput()">Clear File</button>
            </div>
            <button type="submit" class="upload-btn">Upload Invoice</button>
            <a href="#" class="instruction-link">Instructions For Uploading File</a>
        </form>
    </div>

    <script>
        function clearFileInput() {
            var input = document.getElementById('invoice');
            input.value = ''; // Clear the input value
        }
    </script>
</body>
</html>
